body {
	padding-top: 20px;
	padding-bottom: 60px;
	background-color: #9FC5F8;
}

.error{
	margin: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #FF0000;
}
/* Custom container */
.container {
	margin: 0 auto;
	max-width: 400px;
}

.container>hr {
	margin: 60px 0;
}
.panel {
	background-color: #9FC5F8;
}