.content {
  overflow:hidden;
}
img {
  margin-right:20px;
  margin-left:15px;
}
.panel {
  overflow:hidden;
  background-color: #93C47D;
  border-style:none;
}
.panel-heading {
  background-color: #93C47D;
}
.panel-info > .panel-heading {
  background-color: #93C47D;
  border-style: none;
}
.list-group-item {
  background-color:  #93C47D;
  border-style: none;
}
.btn-reserva {
  float: none;
}

img.participants {
	margin:0px;
}
img.nivell {
  margin:0px;
}
img.horainici {
  margin:0px;
}