.content {
  overflow:hidden;
}
.form {
  margin: 0 auto;
  max-width: 700px;
}
.panel {
  overflow:hidden;
  background-color: #93C47D;
  border-style:none;
  font-size: large;
}
.panel-heading {
  background-color: #93C47D;
}
.panel-info > .panel-heading {
  background-color: #93C47D;
  border-style: none;
}
.list-group-item {
  background-color:  #93C47D;;
  border-style: none;
}
.btn-reserva {
  float: none;
}

/* http://stackoverflow.com/a/18153551 */
.col-centered {
    float: none;
    margin: 0 auto;
}

#preuPerPersona {
  font-size: large;
}
#preuFinal {
  font-size: large;
}