body {
  background-image: url("../../img/background.jpg");
  background-size: cover;
  background-color: #B6D7A8;
}
h4 {
  margin-top: 0px;
  margin-bottom: 4px;
}
img {
  border-radius: 4px;  
}
img.activitat {
  max-width: 300px;
  max-height: 225px;
}
p {
	text-align:justify;
}

.nav-tabs {
  border-style: none;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-bottom: 30px;
}

.header {
  background-color: #9FC5F8;
  padding: 10px;
  padding-bottom: 0px;
}
.logo {
  text-decoration: none;
  font-size: 36px;
  margin-left: 320px;
}
.logo a:hover{
  text-decoration: none;
}

.thumbnail {
  background-color: #B6D7A8;
  border-style: none;
  padding: 8px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.thumbnail .caption {
  padding-top: 0px;
  padding-bottom: 15px;
}

.content {
  background-color: #93C47D;
  padding: 15px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

span.glyphicon-off {
    font-size: 1.6em;
  color: #000;
}